* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* header ----------------------------------------------*/
.webapp-header {
/*   margin-right: 10px;
  margin-left: 10px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFFFFF;
  height: 64px;
  align-items: center;
}

.header-inner-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header-button {
  color: #FFFFFF;
  box-shadow: 0 5px 10px 0 #B4EBFF;
  padding: 8px 40px 8px 40px;
  border-radius: 20px;
  background: rgb(15, 113, 188);
  background: linear-gradient(90deg, rgba(15, 113, 188, 1) 0%, rgba(39, 162, 223, 1) 50%, rgba(58, 205, 254, 1) 100%);
}

/* main---------------------- */

main{
  background-color: #F5F5F8;
  width: 100%;
}

.main-contents{
  display: flex;
  padding: 20px 50px 100px 50px;
  gap: 20px;
}

.main-study-time{
  width: 50%;
}

.main-study-language{
  width: 50%;
}

/* time */
.main-study-time-list{
  display: flex;
  gap: 20px;
  width: 100%;
}

.mian-study-time-item{
  background-color: #FFFFFF;
  padding: 15px 45px 15px 45px;
  border-radius: 10px;
  text-align: center;
}

.main-study-time-title{
  color: #80A7D5;
  font-size: 20px;
  font-weight: bolder;
}

.study-time-number{
  font-size: 40px;
  font-weight: bold;
}

.study-time-hour{
  color: #A5C2D8;
  font-size: 20px;
  font-weight: normal;
}

.main-study-time-chart{
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
}

/* language */

.main-study-list{
  display: flex;
  gap: 20px;
}

.main-study-item{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 7px;
  width: 50%;
}

.main-study-language-title{
  font-size: 20px;
}


/* mordal-------- */

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 700px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

/* modal 独自 */
.main-date{
  display: flex;
  justify-content: center;
}

.main-date-text-symbol{
  color: #80A7D5;
}

.main-date-date{
  margin-left: 10px;
  margin-right: 10px;
}

.modalWrapper{
  width: fit-content;
}

.modalContents{
  display: flex;
  gap: 10px;

}


.modal-contents-left-item{
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-contents-left-item input{
  background-color: #f5f4f9ea;
  border-style: none;
  border-radius: 10px;
  font-size: x-large;

}

.modal-contents-right-item{
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-contents-left{
  max-width: 350px;
}

.modal-contents-right{
  max-width: 350px;
}

.modal-contents-right-item input{
  background-color: #f5f4f9ea;
  border-style: none;
  border-radius: 10px;
  font-size: x-large;
  max-width: fit-content;
}

.mardal-contents-study-checkbox{
  cursor: pointer;
  display: flex;
}

/* .modal-contents-study-checkbox-input{
  margin: 0;
  width: 0;
  opacity: 0;
}

.modal-contents-study-checkbox-input:hover{
  background: rgba(0,0,0,.05) !important;
}


.ECM_CheckboxInput:hover > .ECM_CheckboxInput-DummyInput{
  transform: scale(1.1);
}

.mardal-contents-study-checkbox{
  background-color: #F5F5F8;
} */